:root {
    --preto-principal: #000000;
    --branco-secundario: #FFFFFF; 
    --botao-azul: #07A2F9; 
    --cor-de-fundo: #1CAF69; 
}

body {
  background-color: var(--cor-de-fundo);
color: var(--preto-principal);
}

* { 
    margin: 0; 
    padding: 0;
}
